<div id="piStats">
	<ul>
		<li>
			<h2><%= sys.model %> (<%= sys.hostname %>) Statistics</h2>
		</li>
		<li>
			<ul>
				<li>
					<table>
						<tr>
							<th>CPU Temperature <button id="dataPausePiTemp"><span id="dataPausePiTempT">Pause graphing</span></button></th>
							<th>Memory <button id="dataPausePiMem"><span id="dataPausePiMemT">Pause graphing</span></button></th>
							<th>System</th>
						</tr>
						<tr>
							<td><span id="piTemp"><%= ptmp %></span>
								<div style="width: 256px; height:auto;"><canvas id="piTempC"></canvas></div>
							</td>
							<td id="piMem-td"><span id="piMem"><%= pmem %></span>
								<div style="width: 256px; height:auto;"><canvas id="piMemC"></canvas></div>
							</td>
							<td><span style="font-weight:bold;">Uptime: </span><span id="piUptime"><%= uptime %></span><br><span style="font-weight:bold;">Kernel: </span><%= sys.kernel %></td>
						</tr>
					</table> <% for(var i = 0; i < filesystems.length; i++) { %> <table>
						<tr>
							<th><%= filesystems[i].name %></th>
						</tr>
						<tr>
							<td><%= filesystems[i].used %></td>
						</tr>
					</table> <% } %>
				</li>
			</ul>
		</li>
	</ul>
</div>